<h1>Rota Normal</h1>

<img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=1024" alt="">
<h1><%= user.username %>#<%= user.discriminator %>  <span>Admin</span></h1>    